<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:paragraph {"className":"is-style-antetitulo","fontSize":"small"} -->
<p class="is-style-antetitulo has-small-font-size">Referencias</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"fontSize":"heading-l"} /-->

<!-- wp:post-excerpt {"className":"is-style-entradilla"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"forestal-leon/formularios-ficha-proyecto"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
