<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60)"><!-- wp:post-date {"className":"is-style-antetitulo","fontSize":"small"} /-->

<!-- wp:post-title {"level":1,"fontSize":"heading-l"} /-->

<!-- wp:post-excerpt {"className":"is-style-entradilla","excerptLength":40} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"className":"is-style-filete-verde","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-filete-verde" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

<!-- wp:post-navigation-link {"type":"previous","label":"Anterior","fontSize":"small"} /-->

<!-- wp:post-navigation-link {"label":"Siguiente","fontSize":"small"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
